<h1>{{ title }}</h1>

<ul>

    <li *ngFor="let todo of todos"> {{todo.id}} - {{todo.title}} -
        <button *ngIf="!todo.done" (click)="markAsDone(todo)">Done</button> |
        <button *ngIf="todo.done" (click)="markAsUndone(todo)">Undone</button> |
        <button (click)="remove(todo)">Delete</button></li>

</ul>

<form [formGroup]="form">

    <fieldset>

        <label>
            Task
        </label>

        <input type="text" placeholder="Task's title" maxlength="60" formControlName="title">
        <button>Save</button>
    </fieldset>

</form>