<h1>{{ title }}</h1>

<ul *ngIf="mode == 'list'">
    <p *ngIf="todos.length == 0 "><small>Você ainda não tem nenhuma tarefa hoje.</small></p>
    <li *ngFor="let todo of todos">{{todo.title}}
        <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i></button>
        <button *ngIf="todo.done" (click)="markAsUndone(todo)"><i class="fas fa-check-circle"></i></button>
        <button (click)="remove(todo)" class="delete"><i class="far fa-trash-alt"></i></button></li>

</ul>

<form [formGroup]="form" *ngIf="mode == 'add'">


    <h2 class="text-center">
        Task
    </h2>
    <input type="text" placeholder="Task's title" maxlength="60" formControlName="title">
    <br>
    <br>
    <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine" class="danger">Esse campo deve conter entre 3 e 60 caracteres</small>
    <br>
    <button [disabled]="form.invalid" (click)="add()" class="button"><i class="fas fa-save"></i>Save</button>

</form>
<button class="button add-button" *ngIf="mode == 'list'" (click)="changeMode('add')"> <i class="fas fa-plus-circle"></i>Add</button>
<button class="button add-button" *ngIf="mode == 'add'" (click)="changeMode('list')"> <i class="fas fa-times"></i>Cancel</button>